#about {
    background: $light-grey;
}

#about h2 {
    color: $secondary-color;
    margin-bottom: 0px;
    font-family: $text-font-stack;
    line-height: 1.4;
    text-align: center;
}

#about button {
    text-align: center;
}

